.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  display: flex;
  justify-content: space-evenly;
  background-color: goldenrod;
}


.bookBarn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 1rem;

}

.book {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 8rem;
  justify-content: center;
  align-items: center;
}

.bookBarn .book img {
  height: 150px;
}

#root {
  
  background: tan;

}

.footer {
  display: flex;
  justify-content: center;
  background-color: goldenrod;
  
}